<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <%- include('partials/mystyle') %>
   <div class="top-container">

    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href=""><h1 class="onepay"><i class="fas fa-cart-plus"></i>E-Mall</h1></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ol class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/login" class="login-btn">Login</a>
          </li>
          <li class="nav-item">
            <a href="/register" class="signup-btn">Signup</a>
          </li>
       </ol>
     
    </nav> 
    <hr class="line">
    <div class="wel">
     
      <p class="welcome">Welcome!!</p>
      <p class="sub-heading">Discover the different ways for you to get the most out of your OBS account.
         Take charge of your money and purchase today.
      </p>
      <a href="/login" class="login-btn2">Login</a>
      <p class="dont-message">Don't have account? signup now!</p>
      
      
    </div>
    
  </div>

  <div class="middle-container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <p><i class="far fa-user fa-4x"></i></p>
        <h3>Get Started</h3>
        <p>Set your account in just few steps.</p>
      </div>
      <div class="col-lg-4 col-md-6">
        <p><i class="fas fa-shopping-bag fa-4x"></i></p>
        <h3>Shopping</h3>
        <p>Get exclusive shopping deals.</p>
      </div>
      <div class="col-lg-4 col-md-6">
        <p><i class="far fa-credit-card fa-4x"></i></p>
        <h3>Debit/Credit card</h3>
        <p>Save your debit and credit cards here.</p>
      </div>
      <div class="col-lg-6 col-md-6">
        <p><i class="fas fa-university fa-4x"></i></p>
        <h3>Bank accounts</h3>
        <p>Link your bank accounts in just few clicks.</p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <p><i class="fas fa-lock fa-4x"></i></p>
        <h3>Complete security</h3>
        <p>Pay worldwide securely without revealing your details.</p>
      </div>
    </div>
  </div>

  <div class="bottom-container">
    <i class="fab social-icon fa-facebook-f fa-2x"></i>
    <i class="fab social-icon fa-twitter fa-2x"></i>
    <i class="fab social-icon fa-instagram fa-2x"></i>
    <p>© Copyright 2020 E-MALL</p>
  </div>
  
</body>
</html>